@page
@model ProyectoCiclo3.App.Frontend.Pages.EditEncomiendaModel
@{
    var encomienda = Model.encomiendas;
}

  <div class="text-center">
    <form method="post">
      <input type="number" class="form-control d-none" id="id" name="id" placeholder="Id" asp-for="@encomienda.id">

      <label for="descripción" class="form-label">Descripción:</label>
      <input type="text" class="form-control" id="descripción" name="descripción" placeholder="Descripción" asp-for="@encomienda.descripción">
      
      <label for="peso" class="form-label">Peso del producto:</label>
      <input type="float" class="form-control" id="peso" name="peso" placeholder="Peso" asp-for="@encomienda.peso">
      
      <label for="tipo" class="form-label">Tipo:</label>
      <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo" asp-for="@encomienda.tipo">
      
      <label for="presentación" class="form-label">Presentación:</label>
      <input type="text" class="form-control" id="presentación" name="presentación" placeholder="Presentación" asp-for="@encomienda.presentación">
      
      <hr>
<button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>