@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsServicioModel
@{
   var servi = Model.servicio;
}
@*  
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <b>id: </b> @servi.id</li>
    <li class="list-group-item"> <b>Origen: </b> @servi.origen.direccion</li>
    <li class="list-group-item"> <b>destino: </b> @servi.destino.ciudad</li>
    <li class="list-group-item"> <b>encomienda: </b> @servi.encomienda.descripcion</li>
    <li class="list-group-item"> <b>hora: </b> @servi.hora</li>
    <li class="list-group-item"> <b>fecha: </b> @servi.fecha</li>
    
    
  </ul>	 *@
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-dark">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Id</div>
      @servi.id
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-dark">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Direcci贸n</div>
      @servi.origen.direcci贸n
    </div>


  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-dark">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Descripci贸n</div>
     @servi.encomienda.descripci贸n
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-dark">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Hora</div>
      @servi.hora
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-dark">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Fecha</div>
      @servi.fecha
    </div>

  </li>
</ol>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">


  <a style="color: #E3AC00" class="btn btn-warning" asp-page="./List" asp-route-servicioId="@servi.id"><i class="fas fa-adjust"></i><svg
      xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
    </svg></a>
  <a style="color: #E3AC00" class="btn btn-warning " asp-page="./Edit" asp-route-servicioId="@servi.id"><svg xmlns="http://www.w3.org/2000/svg"
      height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
      <path d="M0 0h24v24H0zm15.35 6.41l-1.77-1.77c-.2-.2-.51-.2-.71 0L6 11.53V14h2.47l6.88-6.88c.2-.19.2-.51 0-.71z"
        fill="none" />
      <path
        d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 14v-2.47l6.88-6.88c.2-.2.51-.2.71 0l1.77 1.77c.2.2.2.51 0 .71L8.47 14H6zm12 0h-7.5l2-2H18v2z" />
    </svg></a>
</div>