@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
}

<h1 style="font-family: 'Poppins', sans-serif ; color: #0E2431;font-weight: bold;">Listado de Servicio</h1>
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <th>Id</th>
    <th>Nombres y Apellidos</th>
    <th>Destino</th>
    <th>Encomienda</th>
    <th>Peso de Encomienda</th>
    <th>Tipo de paquete</th>
    <th>Presentación</th>
    <th>Hora</th>
    <th>Fecha</th>
    <th><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
      </svg></th>

  </thead>

@foreach (var servit in Model.servicios)

  {
    <tr>
      <td>@servit.id</td>
      <td>@servit.origen.nombres @servit.origen.apellidos</td>
       
      <td>@servit.destino.nombres @servit.destino.apellidos </td>
   
      <td>@servit.encomienda.descripción </td>
      <td>@servit.encomienda.peso </td>
     <td>@servit.encomienda.tipo </td>
    <td>@servit.encomienda.presentación </td>
      <td>@servit.hora</td>
      <td>@servit.fecha </td>
      
     
      <td>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">


          <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@servit.id"><i
            class="fas fa-adjust"></i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg></a>
          <a class="btn btn-info " asp-page="./Edit" asp-route-servicioId="@servit.id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg></a>
          <form method="POST">
            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@servit.id">
            <button type="submit" class="btn btn-danger" href=""><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg></button>
          </form>
        </div>

      </td>
    </tr>

  }
</table>
