@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuarioModel
@{
}
 
<h1 style="font-family: 'Poppins', sans-serif ; color: #0E2431;font-weight: bold;">Listado de Usuarios</h1>
<table class="table table-striped table-bordered">
  
   <thead class="table-dark">
  
      
      <th scope="col">id</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>

      <th><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
      </svg></th>
   
  </thead>

    @foreach (var usuario in Model.Usuario)
    {
        <tr>
            <td>@usuario.id</td>
            <td>@usuario.nombres</td>
            <td>@usuario.apellidos</td>
            <td>@usuario.dirección</td>
            <td>@usuario.teléfono</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-usuarioId="@usuario.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-usuarioId="@usuario.id">Editar</a>
               <form method="POST">
            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@usuario.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>
              
              </td>
        </tr>
    }
</table>

